:root {
  /* Main colors */
  --kerykeion-chart-color-paper-0: #c8cbd0; /* Very dark blue background */
  --kerykeion-chart-color-paper-1: #10172a; /* Dark blue background */

  /* Zodiac Sign Sectors */
  --kerykeion-chart-color-zodiac-bg-0: #1a2030; /* Dark blue */
  --kerykeion-chart-color-zodiac-bg-1: #27303c; /* Even darker blue */
  --kerykeion-chart-color-zodiac-bg-2: #1a2030; /* Medium dark blue */
  --kerykeion-chart-color-zodiac-bg-3: #27303c; /* Very dark blue */
  --kerykeion-chart-color-zodiac-bg-4: #1a2030; /* Consistent dark blue */
  --kerykeion-chart-color-zodiac-bg-5: #27303c; /* Consistent darker blue */
  --kerykeion-chart-color-zodiac-bg-6: #1a2030; /* Consistent medium dark blue */
  --kerykeion-chart-color-zodiac-bg-7: #27303c; /* Consistent very dark blue */
  --kerykeion-chart-color-zodiac-bg-8: #1a2030; /* Consistent dark blue */
  --kerykeion-chart-color-zodiac-bg-9: #27303c; /* Consistent darker blue */
  --kerykeion-chart-color-zodiac-bg-10: #1a2030; /* Consistent medium dark blue */
  --kerykeion-chart-color-zodiac-bg-11: #27303c; /* Consistent very dark blue */

  /* Zodiac Sign Rings */
  --kerykeion-chart-color-zodiac-radix-ring-0: #1e293b; /* Bright blue for emphasis */
  --kerykeion-chart-color-zodiac-radix-ring-1: #1e293b; /* Consistent bright blue */
  --kerykeion-chart-color-zodiac-radix-ring-2: #1e293b; /* Consistent bright blue */
  --kerykeion-chart-color-zodiac-transit-ring-0: #1e293b; /* Bright blue for emphasis */
  --kerykeion-chart-color-zodiac-transit-ring-1: #1e293b; /* Consistent bright blue */
  --kerykeion-chart-color-zodiac-transit-ring-2: #1e293b; /* Darker blue for emphasis */
  --kerykeion-chart-color-zodiac-transit-ring-3: #1e293b; /* Consistent darker blue */
  --kerykeion-chart-color-houses-radix-line: #ccd0d4; /* Bright blue for consistency */
  --kerykeion-chart-color-houses-transit-line: #ccd0d4; /* Darker blue for consistency */

  /* Lunar Phases */
  --kerykeion-chart-color-lunar-phase-0: #003366; /* Dark blue for dark mode */
  --kerykeion-chart-color-lunar-phase-1: #001f3f; /* Even darker blue for dark mode */

  /* Aspects */
  --kerykeion-chart-color-conjunction: #2cd4bf; /* Light blue */
  --kerykeion-chart-color-semi-sextile: #004d99; /* Darker blue */
  --kerykeion-chart-color-semi-square: #fb6f85; /* Dark blue */
  --kerykeion-chart-color-sextile: #2cd4bf; /* Light blue */
  --kerykeion-chart-color-quintile: #0099cc; /* Medium blue */
  --kerykeion-chart-color-square: #fb6f85; /* Dark blue */
  --kerykeion-chart-color-trine: #2cd4bf; /* Light blue */
  --kerykeion-chart-color-sesquiquadrate: #fb6f85; /* Dark blue */
  --kerykeion-chart-color-biquintile: #0099cc; /* Medium blue */
  --kerykeion-chart-color-quincunx: #66a3ff; /* Light blue */
  --kerykeion-chart-color-opposition: #fb6f85; /* Very dark blue */

  /* Planets */
  --kerykeion-chart-color-sun: #f4bf50;
  --kerykeion-chart-color-moon: #818cf8;
  --kerykeion-chart-color-mercury: #37bcf8;
  --kerykeion-chart-color-venus: #f471b5;
  --kerykeion-chart-color-mars: #f4bf50;
  --kerykeion-chart-color-jupiter: #37bcf8;
  --kerykeion-chart-color-saturn: #818cf8;
  --kerykeion-chart-color-uranus: #f471b5;
  --kerykeion-chart-color-neptune: #37bcf8;
  --kerykeion-chart-color-pluto: #818cf8;
  --kerykeion-chart-color-mean-node: #f4bf50;
  --kerykeion-chart-color-true-node: #f4bf50;
  --kerykeion-chart-color-chiron: #818cf8;
  --kerykeion-chart-color-first-house: #f4bf50;
  --kerykeion-chart-color-tenth-house: #f4bf50;
  --kerykeion-chart-color-seventh-house: #f4bf50;
  --kerykeion-chart-color-fourth-house: #f4bf50;
  --kerykeion-chart-color-mean-lilith: #818cf8;

  --kerykeion-chart-color-house-number: #ccd0d4;

  /* Zodiac Signs */
  --kerykeion-chart-color-zodiac-icon-0: #f471b5;
  --kerykeion-chart-color-zodiac-icon-1: #f4bf50;
  --kerykeion-chart-color-zodiac-icon-2: #37bcf8;
  --kerykeion-chart-color-zodiac-icon-3: #818cf8;
  --kerykeion-chart-color-zodiac-icon-4: #f471b5;
  --kerykeion-chart-color-zodiac-icon-5: #f4bf50;
  --kerykeion-chart-color-zodiac-icon-6: #37bcf8;
  --kerykeion-chart-color-zodiac-icon-7: #818cf8;
  --kerykeion-chart-color-zodiac-icon-8: #f471b5;
  --kerykeion-chart-color-zodiac-icon-9: #f4bf50;
  --kerykeion-chart-color-zodiac-icon-10: #37bcf8;
  --kerykeion-chart-color-zodiac-icon-11: #818cf8;

  /* Elements Percentage */
  --kerykeion-chart-color-air-percentage: #37bcf8;
  --kerykeion-chart-color-earth-percentage: #f4bf50;
  --kerykeion-chart-color-fire-percentage: #f471b5;
  --kerykeion-chart-color-water-percentage: #818cf8;

  /* Aspects */
  --kerykeion-chart-color-lunar-phase-0: #000000;
  --kerykeion-chart-color-lunar-phase-1: #ffffff;

  /* Houses Numbers */
  --kerykeion-chart-color-house-number: #ccd0d4;
}
